/* Variables */

:root {

    /* Colors - Neutral */
    --neutral-900: hsl(194, 78%, 11%);
    --neutral-700: hsl(195, 23%, 28%);
    --neutral-200: hsl(17, 12%, 89%);
    --neutral-100: hsl(17, 41%, 97%);
    --neutral-0: hsl(0, 0%, 100%);

    /* Colors - Light Salmon */
    --light-salmon-500: hsl(22, 99%, 72%);
    --light-salmon-100: hsl(22, 100%, 91%);
    --light-salmon-50: hsl(23, 100%, 97%);

    /* Colors - Gradient */
    --text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    --light-gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    --dark-gradient: linear-gradient(90deg, var(--neutral-700) 0%, var(--neutral-900) 80%);

    /* Spacing */
    --spacing-2: 0.125rem;
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-12: 0.75rem;
    --spacing-16: 1rem;
    --spacing-20: 1.25rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-64: 4rem;
    --spacing-80: 5rem;
    --spacing-100: 6.25rem;
    --spacing-120: 7.5rem;

    /* Border Radius */
    --border-radius-4: 0.25rem;
    --border-radius-8: 0.5rem;
    --border-radius-16: 1rem;
    --border-radius-24: 1.5rem;
}