@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cyan: hsl(179, 62%, 43%);
    --lime-green: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);

    --border-radius: 7px;
}

html {
    font: 16px "Karla", sans-serif;
    font-weight: 400;
    color: var(--white, black);
}

body {
    min-height: 100vh;
    background-color: var(--light-gray);

    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

p {
    line-height: 1.7;
}

main {
    display: grid;
    margin: 4rem 2rem;
    border-radius: var(--border-radius);
    overflow: clip;
    max-width: 700px;
}

.card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 20px;
    padding: 28px;
}

.card:nth-child(1) {
    background-color: var(--white);
}

.card:nth-child(1) h1 {
    color: var(--cyan);
}

.card:nth-child(1) h2 {
    color: var(--lime-green);
}

.card:nth-child(1) p {
    color: var(--grayish-blue);
}

.card:nth-child(2) {
    background-color: var(--cyan);
}

.price-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: -24px;
}

span:nth-child(1) {
    font-size: 34px;
    font-weight: 700;
}

span:nth-child(2) {
    opacity: 0.7;
}

.button {
    width: 100%;
    background-color: var(--lime-green);
    border-radius: var(--border-radius);
    box-shadow: 0 7px 20px -5px hsla(0, 0%, 0%, 0.219);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
}

.card:nth-child(3) {
    background-color: hsl(179, 49%, 58%);
}

.reasons-container {
    color: var(--light-gray);
}

@media (width < 640px) {
    main {
        max-width: 450px;
    }
}

@media (width > 640px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .card {
        padding: 2.5rem;
    }

    .card:nth-child(1) {
        /* grid-row: 1 / 1;
        grid-column: 1 / span 2; */
        grid-area: 1 / 1 / 1 / span 2;
        gap: 15px;
    }

    .card:nth-child(2) {
        /* grid-row: 2 / 2;
        grid-column: 1 / 1; */
        grid-area: 2 / 1 / 2 / 1;
    }

    .card:nth-child(3) {
        /* grid-row: 2 / 2;
        grid-column: 2 / 2; */
        grid-area: 2 / 2 / 2 / 2;
    }
}