/* Fonts */

/* Inter */

@font-face {
    font-family: 'Inter Regular';
    src: url(../assets/fonts/inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'Inter Semi Bold';
    src: url(../assets/fonts/inter/static/Inter_18pt-SemiBold.ttf);
}

/* Martian Mono */

@font-face {
    font-family: 'Martian Mono Regular';
    src: url(../assets/fonts/martian-mono/static/MartianMono-Regular.ttf);
}

@font-face {
    font-family: 'Martian Mono Semi Bold';
    src: url(../assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf);
}

@font-face {
    font-family: 'Martian Mono Bold';
    src: url(../assets/fonts/martian-mono/static/MartianMono-Bold.ttf);
}

/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .circle {
        position: relative;
    }

    .circle::before {
        content: '';
        position: absolute;
        top: 0;
        left: -15px;
        width: 130%;
        aspect-ratio: 1 / 1;
        background-image: url(../assets/images/pattern-circle.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

/* @layer utilities {
    section {
        @apply sm: px-4 md:px-8;
    }
} */