@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* || VARIABLES */

:root {
    /* COLORS */
    --gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);
    --blue-200: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --blue-850: hsl(228, 56%, 26%);
    --blue-950: hsl(229, 57%, 11%);
    --white: hsl(0, 0%, 100%);

    /* FONT */
    --font-size: 14px;
    --font-family: "Raleway", sans-serif;
    --font-weight-400: 400;
    --font-weight-700: 700;
}

/* || UTILITY CLASSES  */

.storage-amount {
    font-weight: var(--font-weight-700);
}

/* || GENERAL STYLES */

html {
    font: var(--font-size) var(--font-family);
    font-weight: var(--font-weight-400);
}

body {
    min-height: 100vh;
    background-color: var(--blue-850);
    background: url(../images/bg-mobile.png) no-repeat left / 100% 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

/* || BLOCKS */
/* APP CONTAINER */

.app-container {
    /* width: calc(100% - 3rem); */
    width: 100%;
    max-width: 310px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* display: grid;
    grid-template-areas: "dashboard" "storage"; */
    gap: 1rem;
}

/* DASHBOARD CONTAINER */

.dashboard-container {
    width: 100%;
    background-color: var(--blue-850);
    padding: 2.5rem;
    border-radius: 10px 90px 10px 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.logo-container {
    width: 50%;
}

.actions-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.action-button {
    width: clamp(45px, 5vw, 55px);
    aspect-ratio: 1 / 1;
    background-color: var(--blue-950);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s ease, transform 0.3s ease, border 0.3s ease-in-out;
}

:is(.action-button):hover,
:focus {
    background-color: hsla(229, 57%, 11%, 0.3);
    transform: scale(0.9);
    border: 1px solid var(--white);
    cursor: pointer;
}

.action-button img {
    transform: scale(0.95);
}

/* STORAGE CONTAINER */

.storage-container {
    width: 100%;
    height: min-content;
    background-color: var(--blue-850);
    padding: 2rem 2rem 4rem;
    border-radius: 10px;
    color: var(--blue-200);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: relative;
}

.storage-bar-container {
    width: 100%;
    height: 20px;
    border-radius: 200px;
    background-color: hsla(229, 57%, 11%, 0.6);
    padding: 3px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.storage-bar-fill {
    width: 81.5%;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(to right, var(--gradient));
    padding: 2px;

    display: inherit;
    justify-content: end;
    align-items: center;
}

.storage-bar-indicator {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: inherit;
    background-color: var(--white);
}

.storage-labels {
    width: 100%;
    display: inherit;
    flex-flow: row;
    justify-content: space-between;
    margin-top: -3px;
}

.storage-start,
.storage-end {
    font-weight: var(--font-weight-700);
}

.storage-left-indicator {
    width: fit-content;
    height: fit-content;
    background-color: var(--white);
    border-radius: 12px;
    padding: 1rem 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;

    position: absolute;
    bottom: -40px;
}

.storage-left-indicator::after {
    content: "";
    width: 35px;
    height: 35px;
    background-color: var(--white);
    position: absolute;
    bottom: -25px;
    right: -0.5px;
    clip-path: polygon(0 0, 100% 0, 100% 90%);

    display: none;
}

.storage-left-amount {
    color: var(--blue-950);
    font-size: 2.5rem;
    font-weight: var(--font-weight-700);
}

.storage-left-label {
    color: var(--grayish-blue);
    font-weight: var(--font-weight-700);
    opacity: 0.8;
}

/* || MEDIA QUERY */

@media (width > 700px) {

    body {
        font-size: 17px;
        background: url(../images/bg-desktop.png) no-repeat bottom / auto 50%;
        background-color: var(--blue-950);
    }

    .app-container {
        max-width: 1100px;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: end;
    }

    .dashboard-container {
        width: 35%;
    }

    .storage-container {
        width: 60%;
        padding: 2.5rem;
        align-items: start;
    }

    .storage-left-indicator {
        top: -50px;
        right: 30px;
        border-radius: 12px 12px 0;
    }

    .storage-left-amount {
        font-size: clamp(2rem, 3vw, 2.7rem);
    }

    .storage-left-indicator::after {
        display: block;
    }
}